{% extends "dashboard/layout.html" %}
{% load static %}
{% load i18n %}
{% block meta_title %}{{ date|date:'F/Y' }}/{{ patient.dni }}{% endblock meta_title %}
{% block css %}

<link href="{% static 'dashboard/css/demo2/pages/invoices/invoice-2.css' %}  " rel="stylesheet" type="text/css" />

{% endblock css %}

{% block content %}
    <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-invoice-2">
                <div class="kt-invoice__head">
                    <div class="kt-invoice__container">
                        <div class="kt-invoice__brand">
                            <div href="#" class="kt-invoice__logo">
                                <a href="#"><img src="{% static 'img/logo.jpg' %}" width="150" height="50"></a>
                                <span class="kt-invoice__desc">
                                </span>
                            </div>
                            <h1 class="kt-invoice__title">{% trans "report of"|capfirst %} {{ date|date:'F' }}'{{ date|date:'y' }}</h1>
                        </div>
                        <div class="kt-invoice__items">
                            <div class="kt-invoice__item">
                                <span class="kt-invoice__text">{% trans "auxiliar"|upper %}.</span>
                                <span class="kt-invoice__subtitle"><strong>{{ worker|upper }} </strong></span>
                            </div>
                            <div class="kt-invoice__item">
                                <span class="kt-invoice__text">{% trans "user"|upper %}.</span>
                                <span class="kt-invoice__subtitle"><strong>{% if patient.full_name %}{{ patient.full_name|upper }}{% else %}{{ patient }}{% endif %}</strong></span>

                            </div>
                            <div class="kt-invoice__item">
                                <span class="kt-invoice__text">{% trans "id"|upper %}.</span>
                                <span class="kt-invoice__subtitle"><strong>{{date|date:'Y'}}/{{date|date:'m'}}/{{ patient.dni }}</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-invoice__body">
                    <div class="kt-invoice__container">
                        <div class="table-responsive">
                            <table
                                id="table"
                                class="table table-striped table-bordered table-hover
                                       table-checkable order-column">
                                <thead>
                                    <tr>
                                        <th><span class="margin-left">{% trans 'date'|capfirst %}</span></th>
                                        <th><span class="margin-right">{% trans 'day'|capfirst %}</span></th>
                                        <th><span class="margin-right">{% trans 'start time'|capfirst %}</span></th>
                                        <th><span class="margin-right">{% trans 'end time'|capfirst %}</span></th>
                                        <th><span class="margin-right">{% trans 'time'|capfirst %}</span></th>
                                        <th class="left"><span class="margin-left">{% trans 'comments'|capfirst %}</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items  %}
                                    <tr class="odd gradeX">
                                        <td style="width:5%"><span class="margin-left">{{ item.date|date:'d' }}</span></td>
                                        <td style="width:10%"><span class="margin-right">{{ item.date|date:'l' }}</span></td>
                                        <td style="width:10%"><span class="margin-right">{{ item.start_time }}</span></td>
                                        <td style="width:10%"><span class="margin-right">{{ item.end_time }}</span></td>
                                        <td style="width:10%"><span class="margin-right">{{ item.time|floatformat:0 }} min</span></td>
                                        <td style="width:55%"></td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><span class="margin-right">{% trans "total"|upper %}</span></td>
                                        <td><span class="margin-right">{{ total_min }} min</span></td>
                                        <td>{{ times }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="kt-invoice__footer">
                    <div class="kt-invoice__container">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border" style="text-align:center">{% trans "auxiliar"|upper %}</th>
                                        <th class="no-border"></th>
                                        <th class="border" style="text-align:center">{% trans "user"|upper %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="border" style="width:30.33%; height:100px "></td>
                                        <td class="no-border"style="width:25%;"></td>
                                        <td class="border" style="width:30.33%;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="kt-invoice__actions">
                    <div class="kt-invoice__container">
                        <button type="button" class="btn btn-label-brand btn-bold" onclick="window.print();">Download Invoice</button>
                        <button type="button" class="btn btn-brand btn-bold" onclick="window.print();">Print Invoice</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
