{% extends "dashboard/layout.html" %}
{% load model_tags %}
{% load i18n %}
{% block content %}

{% worker_info worker_events %}

{% activities worker_events %}

<div class="kt-portlet ">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {% trans "this month's jobs"|capfirst %} - {% now 'F' %}
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
        {% for item in request.user.worker.patient.all %}
            {% show_table request.user item %}
        {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}

