{% load model_tags %}
<div class="container">

    <!-- ROW -->
    <div class="row" data-appear-top-offset="-200" data-animated="fadeInUp">

        {%featured_posts%}

        <div class="col-lg-4 col-md-4 col-sm-6 padbot30 foot_about_block">
            <h4><b>About</b> us</h4>
            <p>We value people over profits, quality over quantity, and keeping it real. As such, we deliver an unmatched working relationship with our clients.</p>
            <p>Our team is intentionally small, eclectic, and skilled; with our in-house expertise, we provide sharp and</p>
            <ul class="social">
                <li><a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a></li>
                <li><a href="javascript:void(0);" ><i class="fa fa-facebook"></i></a></li>
                <li><a href="javascript:void(0);" ><i class="fa fa-google-plus"></i></a></li>
                <li><a href="javascript:void(0);" ><i class="fa fa-pinterest-square"></i></a></li>
            </ul>
        </div>

        <div class="respond_clear"></div>

        <div class="col-lg-4 col-md-4 padbot30">
            <h4><b>Contacts</b> Us</h4>

            <!-- CONTACT FORM -->
            <div class="span9 contact_form">
                <div id="note"></div>
                <div id="fields">
                    <form id="contact-form-face" class="clearfix" action="#">
                        <input type="text" name="name" value="Name" onFocus="if (this.value == 'Name') this.value = '';" onBlur="if (this.value == '') this.value = 'Name';" />
                        <textarea name="message" onFocus="if (this.value == 'Message') this.value = '';" onBlur="if (this.value == '') this.value = 'Message';">Message</textarea>
                        <input class="contact_btn" type="submit" value="Send message" />
                    </form>
                </div>
            </div><!-- //CONTACT FORM -->
        </div>
    </div><!-- //ROW -->
</div><!-- //CONTAINER -->
